# This is an example `env` file.
# Copy this file and name it `flarum-dev.env.local`.
# The file `flarum-dev.env` is committed, it should never contain passwords.
# Passwords should be set in the file `flarum-dev.env.local` and never committed, that's why it is in `.gitignore`.
# 
#

DB_PASS=flarum
# /!\ admin password must contain at least 8 characters /!\
FLARUM_ADMIN_PASS=admin
MYSQL_ROOT_PASSWORD=root
MYSQL_PASSWORD=flarum